/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');
*{
    box-sizing: border-box;
}
header, 
section{
    overflow-x:hidden;
}

:root{
    --Snigle-font:"Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua one", cursive;
    --Lobster:"Lobster", cursive;
    --light-black:#2e2c2caf;
   --bggradient:linear-gradient(to bottom,#12b1a9,#09497e);
   --light-gray:rgba(255,255,255,0.877)
} 
header a{
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    color: whitesmoke;
}
    
header{
    background: #12b1a9;
    background:var(--bggradient);
}
header. nav-item:last-child{
    padding-right: 10.5em;
}
header. nav-item:last-child{
    padding: 0.9em;
}
header. navbar-brand{
    padding-left: 8rem;
}

header. nav-link:hover{
    color: black;
}

header.row.col-md-5{
    padding:4.2vmin 1vmin;
}
header.row.col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

/*section1*/
.section-1{
    padding:20vmin 0
}
.pt-4{
    font-family: var(--Patua);
    color: white;
    font-size: 30px;
}
